.profile-image {
  max-width: 150px;
  max-height: 150px;
  border: 2px solid gainsboro;
  border-radius: 50%;
}

.table{
  width: 100%;
  border-collapse: collapse;
}

.table tr td {
  padding: 15px 10px;
  border: 0.5px solid gainsboro;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

button {
  margin-right: 10px;
}

mat-card {
margin-left: 10px;
}
