<mat-card class="mt20" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-card-header>
          <mat-card-title>
            Bienvenido administrador
          </mat-card-title>
          <mat-card-subtitle>Panel de administrador</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h1></h1>
          <p></p>
          <mat-divider></mat-divider>
          <h1 class="mt10">Sus funciones : </h1>
          <ul>
            <li>Gestionar las categorias</li>
            <li>Gestionar los examenes</li>
            <li>Asignar examenes a distintas categorias</li>
            <li>Gestionar las preguntas</li>
            <li>Asignar preguntas a cada examen</li>
          </ul>
        </mat-card-content>
      </div>
    </div>
  </div>
</mat-card>
